body {
    
    background-color: darkblue;
    color: red;
    font-family: 'Itim', cursive;
}

li {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.gameBoard {
    margin-left:50px;
    margin-right:auto;
    width:960px;
}

.turnFollow, .textToPlayer {
    font-size: 30px;
    text-decoration: wavy;
}

